@import "global.less";

#left-nav-section {
  position: fixed;
  color: #ccc;
  font-size: 1em;
  left: 2em;
  top: 50%;
  z-index: 2;
  opacity: 0;
  ul > li > span {
    opacity: 0;
    padding-left: 1em;
  }
}

.section-container {
  max-width: 1000px;
  width: 70%;
  margin: 30px 0;
  .section-title {
    text-align: center;
    font-size: 30px;
    &-cutting {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  .section-body {
    position: relative;
  }
}

#about-section {
  margin-top: 50px;
  width: 100%;
  .display-flex;
  .justify-content-center;
  .section-body {
    font-family: "ubuntu-regular";
    .detail-part {
      .profile-img {
        float: right;
        width: 150px;
        padding: 10px;
        position: relative;
        background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
        border-top: 1px solid white;
        border-right: 1px solid #ccc;
        -webkit-border-bottom-right-radius: 60px 60px;
        -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
        img {
          width: 100%;
          margin-top: 5px;
          border-bottom-right-radius: 25px;
        }
        &:before {
          content:'';
          width: 25px;
          height: 20px;
          background: white;
          position: absolute;
          bottom:0; right:0;
          background: -webkit-gradient(linear, 0% 20%, 50% 40%, from(#fff), to( #eee), color-stop(.1,#fff));
          -webkit-border-bottom-right-radius: 30px;
          border-bottom-right-radius: 30px;
          -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
          -webkit-transform: rotate(-20deg)
                              skew(-40deg,-3deg)
                              translate(-13px,-13px);
                              transform: rotate(-20deg)
                              skew(-40deg,-3deg)
                              translate(-13px,-13px);
        }
        &:after {
          content: '';
          z-index: -1;
          width: 100px;
          height: 100px;
          position:absolute;
          bottom:0;
          right:0;
          background: rgba(0, 0, 0, 0.2);
          display: inline-block;
          -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
          -webkit-transform: rotate(0deg) translate(-45px,-20px) skew(20deg);
        }
        .ribbon {
          position: absolute;
          top: -15px;
          left: 30%;
          width: 70px;
          height: 30px;
          background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
          border-left: 1px dashed rgba(0, 0, 0, 0.1);
          border-right: 1px dashed rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        }
      }
      ul {
        li {
          padding: 5px 0;
          color: #808080;
          i {
            display: inline-block;
            width: 30px;
            color: #222;
            text-align: center;
            font-size: 20px;
          }
          label {
            display: inline-block;
            width: 100px;
            font-weight: bold;
            font-family: "lato-regular";
            padding-right: 10px;
            font-size: 18px;
            color: #222;
          }
        }
      }
    }
    .detail-description {
      clear: both;
      line-height: 30px;
      text-align: justify;
      color: #808080;
      i {
        display: inline-block;
        width: 30px;
        color: #222;
        text-align: center;
        font-size: 20px;
      }
      label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
        font-family: "lato-regular";
        padding-right: 10px;
        font-size: 18px;
        color: #222;
      }
    }
  }
}

#experience-section {
  background: #eaeaea;
  margin-top: 50px;
  width: 100%;
  .display-flex;
  .justify-content-center;

  .cbp_tmtimeline {
    font-family: "ubuntu-regular";
    margin: 30px 0;
    li {
      position: relative;
      .cbp_tmtime {
        display: block;
        position: absolute;
        left: -30px;
        opacity: 0;
        span {
          display: block;
          text-align: right;
          &:first-child {
            font-size: 1em;
            color: #4d4e54;
          }
          &:last-child {
            font-size: 2em;
            color: #000000;
          }
        }
      }
      .cbp_tmicon {
        width: 40px;
        height: 40px;
        font-size: 1.4em;
        line-height: 40px;
        position: absolute;
        color: #fff;
        background: #777;
        border-radius: 50%;
        border: 8px solid #ccc;
        text-align: center;
        left: 100px;
        top: 0;
        opacity: 0;
        z-index: 1;
      }
      .cbp_tmline {
        background: #cccccc;
        width: 10px;
        position: absolute;
        left: 123px;
      }
      .cbp_tmlabel {
        margin: 0 0 25px 25%;
        background: transparent;
        color: grey;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        min-height: 100px;
        right: -30px;
        opacity: 0;
        h2 {
          font-size: 24px;
          color: #ca3d3d;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(0,0,0,0.4);
        }
        .details {
          margin: 5px 0;
          ul {
            line-height: 1.5;
            margin: 5px 0 5px 25px;
            li {
              list-style: disc;
              margin: 10px 0;
            }
          }
        }
        .title {
          margin: 5px 0;
        }
        .location {
          margin: 10px 0;
        }
      }
    }
  }
}

#source-description {
  float: right;
  position: relative;
  margin: 20px 30px;
  bottom: 0;
  right: 0;
}
