@import "global.less";

#left-nav-section {
  position: fixed;
  color: #ccc;
  font-size: 1em;
  left: 2em;
  top: 50%;
  z-index: 2;
  opacity: 0;
  ul > li > span {
    opacity: 0;
    padding-left: 1em;
  }
}

.section-container {
  max-width: 1000px;
  width: 70%;
  margin: 30px 0;
  .section-title {
    text-align: center;
    font-size: 30px;
    &-cutting {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  .section-details {
    position: relative;
  }
}

#about-section {
  margin-top: 50px;
  width: 100%;
  .display-flex;
  .justify-content-center;
  .section-details {
    font-family: "ubuntu-regular";
    .detail-part {
      .img-circle {
        float: right;
        border-radius: 10px;
      }
      ul {
        li {
          padding: 5px 0;
          label {
            font-weight: bold;
            font-family: "lato-regular";
            padding-right: 10px;
            font-size: 18px;
          }
        }
      }
    }
    .detail-description {
      clear: both;
      line-height: 30px;
      text-align: justify;
      label {
        font-weight: bold;
        font-family: "lato-regular";
        font-size: 18px;
      }
    }
  }
}
