@import "global.less";

#left-nav-section {
  position: fixed;
  color: #ccc;
  font-size: 1em;
  left: 2em;
  top: 50%;
  z-index: 2;
  opacity: 0;
  ul > li > span {
    opacity: 0;
    padding-left: 1em;
  }
}

.section-container {
  max-width: 1000px;
  width: 70%;
  margin: 30px 0;
  .section-title {
    text-align: center;
    font-size: 30px;
    &-cutting {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  .section-body {
    position: relative;
  }
}

#about-section {
  margin-top: 50px;
  width: 100%;
  .display-flex;
  .justify-content-center;
  .section-body {
    font-family: "ubuntu-regular";
    .detail-part {
      .img-circle {
        float: right;
        border-radius: 10px;
      }
      ul {
        li {
          padding: 5px 0;
          label {
            font-weight: bold;
            font-family: "lato-regular";
            padding-right: 10px;
            font-size: 18px;
          }
        }
      }
    }
    .detail-description {
      clear: both;
      line-height: 30px;
      text-align: justify;
      label {
        font-weight: bold;
        font-family: "lato-regular";
        font-size: 18px;
      }
    }
  }
}

#experience-section {
  background: #eaeaea;
  margin-top: 50px;
  width: 100%;
  .display-flex;
  .justify-content-center;

  .cbp_tmtimeline {
    font-family: "ubuntu-regular";
    margin: 30px 0;
    li {
      position: relative;
      .cbp_tmtime {
        display: block;
        position: absolute;
        left: -30px;
        opacity: 0;
        span {
          display: block;
          text-align: right;
          &:first-child {
            font-size: 1em;
            color: #4d4e54;
          }
          &:last-child {
            font-size: 2em;
            color: #000000;
          }
        }
      }
      .cbp_tmicon {
        width: 40px;
        height: 40px;
        font-size: 1.4em;
        line-height: 40px;
        position: absolute;
        color: #fff;
        background: #777;
        border-radius: 50%;
        border: 8px solid #ccc;
        text-align: center;
        left: 100px;
        top: 0;
        z-index: 1;
      }
      .cbp_tmline {
        background: #cccccc;
        width: 10px;
        position: absolute;
        left: 123px;
      }
      .cbp_tmlabel {
        margin: 0 0 25px 25%;
        background: transparent;
        color: grey;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        min-height: 100px;
        right: -30px;
        opacity: 0;
        h2 {
          font-size: 24px;
          color: #ca3d3d;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(0,0,0,0.4);
        }
        .details {
          margin: 5px 0;
          ul {
            line-height: 1.5;
            margin: 5px 0 5px 25px;
            li {
              list-style: disc;
              margin: 10px 0;
            }
          }
        }
        .title {
          margin: 5px 0;
        }
        .location {
          margin: 10px 0;
        }
      }
    }
  }
}

#source-description {
  float: right;
  position: relative;
  margin: 20px 30px;
  bottom: 0;
  right: 0;
}
