@import "global.less";

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 0 30px;
  .nav-left {
    float: left;
    height: 100%;
    ul {
      .display-flex;
      .align-items-center;
      height: 100%;
      li {
        .display-inline-flex;
        .align-items-center;
        padding: 0 10px;
        cursor: pointer;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        a {
          color: #222;
          text-decoration: none;
        }
        &.active > a {
          color: #5f91a0;
        }
        &:hover {
          a { color: #5f91a0; }
          &:before {
            -webkit-transform: scaleX(0.9);
            -ms-transform: scaleX(0.9);
            transform: scaleX(0.9);
          }
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 0px;
          border-bottom: 2px solid #5f91a0;
          bottom: 2px;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: -webkit-transform 0.3s ease-in;
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

#source-description {
  position: absolute;
  bottom: 20px;
  right: 30px;
  a {
    color: #000;
    cursor: pointer;
    &:hover {
      color: #909090;
    }
  }
}
